-# A "static" page D:

.container
  .row
    .col.s4
      = render partial: 'shared/friends', locals: { user: current_user }
    .col.s8
      = render 'shared/new_post'
      .posts
        = render partial: 'shared/posts', locals: { posts: @posts }
      - if @posts.next_page
        = link_to 'Load more', root_path(page: @posts.next_page),
          class: 'load-more-posts', remote: true
