.container
  .row
    .col.s4
      = render partial: 'shared/friends', locals: { user: @user }
    .col.s8
      = render partial: 'shared/user_info', locals: { user: @user }
      = render partial: 'shared/posts', locals: { posts: @posts, comment: Comment.new }
      .center
        = will_paginate @posts, page_links: false
