.card
  .card-content
    %span.card-title.black-text Friends
    - if user.friends.present?
      - user.friends.limit(5).each do |friend|
        .valign-wrapper
          = link_to user_path(friend), class: 'red-text valign' do
            = image_tag(friend.avatar(:small), class: 'circle')
            = friend.name
    - else
      %p.grey-text No friends yet
  .card-action.right-align
    = link_to 'See all', '#', class: 'red-text'
