.card
  .card-content
    %span.card-title.black-text Friends
    - if current_user.friends.present?
      - current_user.friends.each do |friend|
        %p= friend.name
    - else
      %p.grey-text You don't have any yet
  .card-action.right-align
    = link_to 'See all', '#', class: 'red-text'
