.headerlogo {
  padding-left: 20px !important;
}

.small_font {
  font-size: small;
}

.post-content {
  padding-bottom: 10px !important;
}

.comments {
  padding: 0 !important;
  margin: 0 !important;
}

.like_text {
  display: inline-block;
}

.post-title {
  margin-bottom: 10px !important;
}

.post_body {
  margin-bottom: 10px !important;
}
