.headerlogo {
  padding-left: 20px !important;
}

.small-text {
  font-size: small;
}

.post-content {
  padding-bottom: 10px !important;
}

.comments {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: none !important;
}

.comments_dropdown {
  padding: 0 10px 10px 10px !important;
  margin: 0 !important;
}

.comment {
  padding: 10px;
}

.like_text {
  display: inline-block;
}

.post-title {
  margin-bottom: 10px !important;
}

.post_body {
  margin-bottom: 10px !important;
}
