// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_heading {
  color: #fff;
  margin-bottom: 0;
}

#home_subheading {
  color: #fff;
  margin-top: 0;
}

.home_footer {
  margin-top: 40px;
  #about {
    color: #fff;
  }
}

// Flashes
#errors {
  margin-bottom: 0;
}

// Devise errors
.error {
  font-size: small;
  color: #f44336;
}

.alert {
  color: #f44336;
  margin-top: 10px;
}

.notice {
  color: #388e3c;
  margin-top: 10px;
}
